In [1]:
import pandas as pd

In [4]:
uri ='https://www.nictiz.nl/wp-content/uploads/labconcepts-20190520.html'
name = uri.split('/')[-1].split('.')[0]
html = pd.read_html(uri)
transaction = html[0] # First table is overhead
transaction.head()

,Volledige naam,LOINC,Component,Kenmerk,Timing,Systeem,Schaal,Methode,Panel,Klasse,Materiaal,Uitkomst
0,Somatotropine^9de monster na XXX belasting [ee...,47932-9,somatotropine^9de monster na XXX belasting,eenheid/volume,moment,serum of plasma,kwantitatief,NaN,NaN,CHAL,serum of plasma,milli international unit per liter (m[iU]/L)
1,Somatotropine^4de monster na XXX belasting [ee...,47923-8,somatotropine^4de monster na XXX belasting,eenheid/volume,moment,serum of plasma,kwantitatief,NaN,NaN,CHAL,serum of plasma,milli international unit per liter (m[iU]/L)
2,Somatotropine^1ste monster na XXX belasting [e...,47763-8,somatotropine^1ste monster na XXX belasting,eenheid/volume,moment,serum of plasma,kwantitatief,NaN,NaN,CHAL,serum of plasma,milli international unit per liter (m[iU]/L)
3,Somatotropine^8ste monster na XXX belasting [e...,47931-1,somatotropine^8ste monster na XXX belasting,eenheid/volume,moment,serum of plasma,kwantitatief,NaN,NaN,CHAL,serum of plasma,milli international unit per liter (m[iU]/L)
4,Hemoglobine [mol/volume] in arterieel bloed,75928-2,hemoglobine,mol/volume,moment,arterieel bloed,kwantitatief,NaN,NaN,HEM/BC,arterieel bloed,millimol per liter (mmol/L)

In [5]:
writer = pd.ExcelWriter(name + '.xlsx')
transaction.to_excel(writer, sheet_name=name)
writer.save()